
<!-- desktop -->
<div class="card-admin max-w mb-4">
    <div class="row">
      <div class="col-12 text-center mx-auto">
        <img src="../asset/image/clipboard.svg">
        <p class="mb-2">วันที่ 12 กันยายน 2567, 15:33 น.</p>
        <small class="txt-2">ส่งเรื่องหารือให้เจ้าหน้าที่เรียบร้อยแล้ว</small>
        <h5 class="my-3 txt-1">เลขที่หารือ: กค 0706/ว 3456</h5>
        <p class="d-none d-lg-block">
          โปรดเลือกคะแนนความพึงพอใจต่อระบบส่งคำร้อง
        </p>
        <small class="d-none d-lg-block">เพื่อให้การระบบหารือถูกพัฒนาไปในทิศทางที่ดีขึ้น
          โปรดให้คะแนนความพึงพอใจของท่าน</small>
        <div class="d-none d-lg-block">
          <img src="../asset/image/qr.svg">
        </div>
      </div>
      <div class="d-lg-flex d-none flex-row gap-5 justify-content-center my-lg-5 my-0">
        <div class="text-center d-grid">
          <img src="../asset/image/icon-least.svg">
          <label>น้อยที่สุด</label>
        </div>
        <div class="text-center d-grid">
          <img src="../asset/image/icon-little.svg">
          <label>น้อย</label>
        </div>
        <div class="text-center d-grid">
          <img src="../asset/image/icon-Indifferent.svg">
          <label>เฉยๆ</label>
        </div>
        <div class="text-center d-grid">
          <img src="../asset/image/icon-lot.svg">
          <label>มาก</label>
        </div>
        <div class="text-center d-grid">
          <img src="../asset/image/icon-most.svg">
          <label>มากที่สุด</label>
        </div>
      </div>
      <div class="d-flex gap-3">
        <button class="btn btn-outline-primary col">
          กลับไปยังหน้าหลัก
        </button>
        <button class="btn btn-blue col">ติดตามผล</button>
      </div>
    </div>
  </div>


  <!-- Mobile -->

  <div class="card-admin max-w mb-4 text-center py-5 d-block d-lg-none">
    <h5>โปรดเลือกคะแนนความพึงพอใจต่อระบบส่งคำร้อง</h5>
    <label class="mb-5">
      เพื่อให้การระบบหารือถูกพัฒนาไปในทิศทางที่ดีขึ้น
      โปรดให้คะแนนความพึงพอใจของท่าน
    </label>
    <div class="d-flex flex-row gap-4 justify-content-center my-lg-5 my-0">
      <div class="text-center d-grid">
        <img src="../asset/image/icon-least.svg">
        <label>น้อยที่สุด</label>
      </div>
      <div class="text-center d-grid">
        <img src="../asset/image/icon-little.svg">
        <label>น้อย</label>
      </div>
      <div class="text-center d-grid">
        <img src="../asset/image/icon-Indifferent.svg">
        <label>เฉยๆ</label>
      </div>
      <div class="text-center d-grid">
        <img src="../asset/image/icon-lot.svg">
        <label>มาก</label>
      </div>
      <div class="text-center d-grid">
        <img src="../asset/image/icon-most.svg">
        <label>มากที่สุด</label>
      </div>
    </div>
  </div>