<div class="card-admin container-fluid mb-4">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-lg-5 mb-4">
          <img src="../asset/image/icon-follow-blue.svg" class="me-3">ข้อมูลผู้หารือ
        </h5>
      </div>
      <div class="mb-3 col-lg-4 col-12 px-2">
        <label for="exampleInputEmail1" class="form-label">คำนำหน้า:<span class="text-danger">*</span></label>
        <select class="form-select input-select" aria-label="Default select example">
          <option selected="">ชาย</option>
          <option value="1">หญิง</option>
        </select>
      </div>
      <div class="mb-3 col-lg-4 col-6 px-2">
        <label for="exampleFormControlInput2" class="form-label">ชื่อ : <span class="text-danger">*</span></label>
        <input type="text" class="form-control input-login" id="exampleFormControlInput2" placeholder="ตัวอย่าง เช่น ทองดี">
      </div>
      <div class="mb-3 col-lg-4 col-6 px-2">
        <label for="exampleFormControlInput3" class="form-label">นามสกุล : <span class="text-danger">*</span></label>
        <input type="text" class="form-control input-login" id="exampleFormControlInput3" placeholder="ตัวอย่าง เช่น มึสุข">
      </div>
      <div class="col-lg-6 col-12 mb-3">
        <label class="form-label">เอกสารประจำตัว :</label>
        <div class="input-group">
          <input type="radio" id="id-card" name="document" checked="">
          <label class="col" for="id-card">บัตรประจำตัวประชาชน</label>

          <input type="radio" id="passport" name="document">
          <label class="col border-x" for="passport">เลขหนังสือเดินทาง</label>
          <input type="radio" id="other-doc" name="document">
          <label class="col border-x" for="other-doc">เอกสารประจำตัวอื่นๆ</label>
        </div>
      </div>
      <div class="mb-3 col-lg-6">
        <label for="passwordInput" class="form-label">หมายเลข :</label>
        <input type="text" class="form-control input-login" placeholder="หมายเลขทางราชการออกให้">
      </div>
    </div>
  </div>