<div class="card-admin container">
    <div class="d-flex box-status mb-4">
      <div>
        <img src="../asset/image/icon-status-active.svg" class="me-3">
      </div>
      <div class="w-100">
        <div class="d-lg-flex d-block justify-content-between align-items-center mb-4">
          <div class="d-flex align-items-center">
            <h5 class="mb-0">สถานะ:</h5>
            <button class="btn btn-sm btn-outline-success ms-3">
              <i class="bi bi-check-circle me-2"></i>ดำเนินการเสร็จสิ้น
            </button>
          </div>
          <div class="w-20 text-lg-end text-start">
            <p class="mb-0">16 กันยายน 2567, 14:23 น.</p>
          </div>
        </div>
        <h5>การตอบกลับของเจ้าหน้าที่:</h5>
        <div class="detail-lock mb-3">
          <p class="mb-2 text-gold-2">
            <img src="../asset/image/icon-lock.svg" class="me-2">รายละเอียดถูกล็อค
          </p>
          <p class="mb-0 text-grey-1">
            กรุณาทำแบบประเมินก่อนดูผลดำเนินการ
            <a class="text-primary cursor-pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><u>คลิก</u></a>
          </p>
        </div>
        <div class="noti-card-register position-relative p-2">
          <div class="d-lg-flex d-grid align-items-center justify-items-center">
            <img src="../asset/image/download-file1.svg" class="me-3 mb-lg-0 mb-3">
            <div class="w-70 me-2 text-center text-lg-start">
              <h5 class="text-primary">
                เอกสารตอบกลับ (respond_discussion.doc)
              </h5>
              <p class="text-grey">
                เอกสารดังกล่าวประกอบไปด้วยเนื้อหาหลักของเอกสาร เช่น
                ข้อมูลที่เพิ่มเติม ข้อเสนอแนะ เป็นต้น
                และอาจมีการแนะนำหรือข้อเสนอแนะเพิ่มเติมที่อาจเป็นประโยชน์ต่อการดำเนินงานของท่าน
              </p>
            </div>
            <button class="btn btn-outline-light px-4">
              <img class="me-2" src="../asset/image/icon-load.svg">ดาวน์โหลดเอกสาร
            </button>
          </div>
          <img src="../asset/image/icon-close.svg" class="absolute-icon-close">
        </div>
      </div>
    </div>
    <div class="d-flex box-status mb-4">
      <div>
        <img src="../asset/image/icon-status.svg" class="me-3">
      </div>
      <div class="w-100">
        <div class="d-lg-flex d-block justify-content-between align-items-center mb-4">
          <div class="d-flex align-items-center">
            <h5 class="mb-0">สถานะ:</h5>
            <button class="btn btn-sm btn-outline-danger-deep ms-3">
              <img src="../asset/image/icon-play.svg" class="me-2">สืบเนื่อง
            </button>
          </div>
          <div class="w-20 text-lg-end text-start">
            <p class="mb-0">16 กันยายน 2567, 14:23 น.</p>
          </div>
        </div>
        <div class="d-lg-flex d-grid">
          <div class="w-80">
            <h5>การตอบกลับของเจ้าหน้าที่:</h5>
            <ul>
              <li>
                จากการตรวจสอบข้อกฎหมายและระเบียบที่เกี่ยวข้องพบว่าการใช้ประโยชน์ในที่ดินแบบผสมผสาน
                ต้องพิจารณาเป็นรายส่วนโดยให้จัดเก็บภาษีเฉพาะพื้นที่ที่ใช้ประโยชน์จริงในเชิงการเกษตรส่วนที่
                เหลือที่ไม่ได้ใช้ประโยชน์ในลักษณะดังกล่าวให้จัดเก็บในอัตราภาษีที่ดินว่างเปล่าหรือประเภทอื่นที่สอดคล้องกับลักษณะของการใช้ที่ดินนั้น
              </li>
            </ul>
          </div>
          <div class="w-20 border-left ps-lg-5 ps-0">
            <h5 class="mb-2">หมายเหตุ:</h5>
            <p class="mb-0">พิจารณารอบที่ 2</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex box-status mb-4">
      <div>
        <img src="../asset/image/icon-status.svg" class="me-3">
      </div>
      <div class="w-100">
        <div class="d-lg-flex d-block justify-content-between align-items-center mb-4">
          <div class="d-flex align-items-center">
            <h5 class="mb-0">สถานะ:</h5>
            <button class="btn btn-sm btn-outline-primary ms-3">
              <img src="../asset/image/icon-comment.svg" class="me-2">นำเข้าพิจารณา
            </button>
          </div>
          <div class="w-20 text-lg-end text-start">
            <p class="mb-0">16 กันยายน 2567, 14:23 น.</p>
          </div>
        </div>
        <div class="d-lg-flex d-grid">
          <div class="w-80">
            <h5>การตอบกลับของเจ้าหน้าที่:</h5>
            <ul>
              <li>
                จากการตรวจสอบข้อกฎหมายและระเบียบที่เกี่ยวข้องพบว่าการใช้ประโยชน์ในที่ดินแบบผสมผสาน
                ต้องพิจารณาเป็นรายส่วนโดยให้จัดเก็บภาษีเฉพาะพื้นที่ที่ใช้ประโยชน์จริงในเชิงการเกษตรส่วนที่
                เหลือที่ไม่ได้ใช้ประโยชน์ในลักษณะดังกล่าวให้จัดเก็บในอัตราภาษีที่ดินว่างเปล่าหรือประเภทอื่นที่สอดคล้องกับลักษณะของการใช้ที่ดินนั้น
              </li>
            </ul>
          </div>
          <div class="w-20 border-left ps-lg-5 ps-0">
            <h5 class="mb-2">หมายเหตุ:</h5>
            <p class="mb-0">พิจารณารอบที่ 2</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex box-status mb-4">
      <div>
        <img src="../asset/image/icon-status.svg" class="me-3">
      </div>
      <div class="w-100">
        <div class="d-lg-flex d-block justify-content-between align-items-center mb-4">
          <div class="d-flex align-items-center">
            <h5 class="mb-0">สถานะ:</h5>
            <button class="btn btn-sm btn-outline-gold ms-3">
              <img src="../asset/image/icon-wait.svg" class="me-2">รอเจ้าหน้าที่ดำเนินการ
            </button>
          </div>
          <div class="w-20 text-lg-end text-start">
            <p class="mb-0">16 กันยายน 2567, 14:23 น.</p>
          </div>
        </div>
        <div class="d-lg-flex d-grid">
          <div class="w-80">
            <h5>การตอบกลับของเจ้าหน้าที่:</h5>
            <ul>
              <li>
                จากการตรวจสอบข้อกฎหมายและระเบียบที่เกี่ยวข้องพบว่าการใช้ประโยชน์ในที่ดินแบบผสมผสาน
                ต้องพิจารณาเป็นรายส่วนโดยให้จัดเก็บภาษีเฉพาะพื้นที่ที่ใช้ประโยชน์จริงในเชิงการเกษตรส่วนที่
                เหลือที่ไม่ได้ใช้ประโยชน์ในลักษณะดังกล่าวให้จัดเก็บในอัตราภาษีที่ดินว่างเปล่าหรือประเภทอื่นที่สอดคล้องกับลักษณะของการใช้ที่ดินนั้น
              </li>
            </ul>
          </div>
          <div class="w-20 border-left ps-lg-5 ps-0">
            <h5 class="mb-2">หมายเหตุ:</h5>
            <p class="mb-0">พิจารณารอบที่ 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>