<div class="card-admin appeal-admin d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex gap-4 align-items-lg-center align-items-start">
      <img src="../asset/image/icon-status-damage.svg">
      <div>
        <h5 class="mb-3">เลขที่ร้องเรียน 2558421</h5>
        <h5 class="d-block d-lg-none">12 ก.ย. 2567, 16:33 น.</h5>
        <p class="mb-1">ประเภทความเสียหาย : <span>ธนาคาร</span></p>
        <p class="mb-0">ผู้รับผิดชอบ : ภูชิต เทพเสด็จ</p>
        <div class="w-100 d-block d-lg-none">
          <a href="/admin/follow-up-step.html">
            <button class="btn-sm btn btn-outline-primary mt-4">
              <img src="../asset/image/icon-officer.svg" class="me-2">
              เจ้าหน้าที่รับเรื่อง
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="w-25 text-end d-none d-lg-block">
      <h5>12 ก.ย. 2567, 16:33 น.</h5>
      <a href="/admin/follow-up-step.html">
        <button class="btn-sm btn btn-outline-primary mt-4">
          <img src="../asset/image/icon-officer.svg" class="me-2">
          เจ้าหน้าที่รับเรื่อง
        </button>
      </a>
    </div>
  </div>



  <div class="card-admin appeal-admin d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex gap-4 align-items-lg-center align-items-start">
      <img src="../asset/image/icon-status-damage.svg">
      <div>
        <h5 class="mb-3">เลขที่ร้องเรียน 2558421</h5>
        <h5 class="d-block d-lg-none">12 ก.ย. 2567, 16:33 น.</h5>
        <p class="mb-1">ประเภทความเสียหาย : <span>ธนาคาร</span></p>
        <p class="mb-0">ผู้รับผิดชอบ : ภูชิต เทพเสด็จ</p>
        <div class="w-100 d-block d-lg-none">
          <a href="/admin/follow-up-step.html">
            <button class="btn-sm btn btn-outline-primary mt-4">
              <img src="../asset/image/icon-progress.svg" class="me-2">
              กำลังดำเนินการ
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="w-25 text-end d-none d-lg-block">
      <h5>12 ก.ย. 2567, 16:33 น.</h5>
      <a href="/admin/follow-up-step.html">
        <button class="btn-sm btn btn-outline-primary mt-4">
          <img src="../asset/image/icon-progress.svg" class="me-2">
          กำลังดำเนินการ
        </button>
      </a>
    </div>
  </div>


  <div class="card-admin appeal-admin d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex gap-4 align-items-lg-center align-items-start">
      <img src="../asset/image/icon-status-damage.svg">
      <div>
        <h5 class="mb-3">เลขที่ร้องเรียน 2558421</h5>
        <h5 class="d-block d-lg-none">12 ก.ย. 2567, 16:33 น.</h5>
        <p class="mb-1">ประเภทความเสียหาย : <span>ธนาคาร</span></p>
        <p class="mb-0">ผู้รับผิดชอบ : ภูชิต เทพเสด็จ</p>
        <div class="w-100 d-block d-lg-none">
          <a href="/admin/follow-up-step.html">
            <button class="btn-sm btn btn-outline-danger mt-4">
              <img src="../asset/image/icon-not.svg" class="me-2">
              ไม่รับเรื่อง
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="w-25 text-end d-none d-lg-block">
      <h5>12 ก.ย. 2567, 16:33 น.</h5>
      <a href="/admin/follow-up-step.html">
        <button class="btn-sm btn btn-outline-danger mt-4">
          <img src="../asset/image/icon-not.svg" class="me-2">
          ไม่รับเรื่อง
        </button>
      </a>
    </div>
  </div>