<div class="card-admin container-fluid mb-4">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h5 class="mb-2">
          <img src="../asset/image/icon-appeal.svg" class="me-3">ติดตามร้องเรียน
        </h5>
        <p>
          ติดตามความก้าวหน้าของเรื่อง โดยใช้รหัส Tack ID
          ที่ได้รับหลังจากได้ทำการร้องเรียน
        </p>
      </div>
      <div class="col-lg-6 col-12 text-end d-none d-lg-block">
        <button class="btn btn-blue px-5">
          <img src="../asset/image/icon-plus-2.svg" class="me-2">แจ้งเรื่องหารือ
        </button>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 col-12 d-flex align-items-center">
            <label>กรองข้อมูล:</label>
            <div class="position-relative ms-lg-4 ms-2 w-75-sm">
              <div class="search-icon">
                <img class="w-100" src="../asset/image/search-icon.svg">
              </div>
              <input class="form-control me-2 input-search" type="search" placeholder="ตัวอย่างเช่น ข้อหารือทางกฏหมาย" aria-label="Search">
            </div>
          </div>
          <div class="col-lg-6 col-12 d-flex align-items-center gap-4 justify-content-end mt-3 mt-lg-0">
            <div class="w-25 w-25-sm">
              <select class="form-select input-select" aria-label="Default select example">
                <option selected="">ความเสียหายทุกประเภท</option>
              </select>
            </div>
            <div class="w-25 w-25-sm">
              <select class="form-select input-select" aria-label="Default select example">
                <option selected="">การร้องเรียนทุกประเภท</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>