<div class="card-admin container-fluid mb-4">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-lg-5 mb-4">
          <img src="../asset/image/icon-email.svg" class="me-3">ข้อมูลติดต่อ
        </h5>
      </div>
    </div>
    <form class="row">
      <div class="mb-3 col-12 col-lg-4 px-2">
        <label for="exampleFormControlInput2" class="form-label">เบอร์โทรศัพท์มือถือ :
        </label>
        <input type="text" class="form-control input-login" id="exampleFormControlInput2" placeholder="ตัวเลข 10 หลัก">
      </div>
      <div class="mb-3 col-12 col-lg-4 px-2">
        <label for="exampleFormControlInput2" class="form-label">เบอร์โทรศัพท์ :
        </label>
        <input type="text" class="form-control input-login" id="exampleFormControlInput2" placeholder="ถ้ามี">
      </div>
      <div class="mb-3 col-12 col-lg-4 px-2">
        <label for="exampleFormControlInput2" class="form-label">อีเมล(ไปรษณีย์อิเล็กทรอนิกส์) :
        </label>
        <input type="text" class="form-control input-login" id="exampleFormControlInput2" placeholder="ถ้ามี">
      </div>
    </form>
  </div>