<div class="card-admin container-fluid mb-4">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-lg-5 mb-4">
          <img src="../asset/image/icon-email.svg" class="me-3">ข้อมูลเข้าสู่ระบบ
        </h5>
      </div>
    </div>
    <form class="row align-items-end">
      <div class="mb-3 col-12 col-lg-5 px-2">
        <label for="exampleFormControlInput2" class="form-label">อีเมล/ชื่อผู้ใช้ :
        </label>
        <input type="text" class="form-control input-login" id="exampleFormControlInput2" placeholder="อีเมล">
      </div>
      <div class="mb-3 col-12 col-lg-5 px-2 position-relative">
        <label for="confirmPasswordInput" class="form-label">รหัสผ่าน :</label>
        <input type="password" class="form-control input-login" id="confirmPasswordInput" placeholder="********">
        <i class="bi bi-eye-slash icon-eye-password" id="toggleConfirmPassword"></i>
      </div>
      <div class="mb-3 col-12 col-lg-2 px-2 mt-3 mt-lg-0">
        <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <img style="width: 18px" src="../asset/image/icon-key.svg" class="me-2">ตั้งรหัสผ่านใหม่
        </button>
      </div>
    </form>
  </div>