<header class="fixed-top-nav-admin">
  <nav class="navbar nav-fix py-2 padding-nav-admin">
    <div class="d-flex w-100 d-lg-none justify-content-between">
      <button
        type="button"
        class="btn btn-link"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"
      >
        <img src="../asset/image/icon-menu.svg" />
      </button>
      <a href="/index.html" class="navbar-brand mx-auto mx-3">
        <img class="img-logo" src="../asset/image/image-logo.png" />
      </a>
      <a href="/admin/profile.html">
        <button class="btn btn-link">
          <img src="../asset/image/icon-profile.svg" />
        </button>
      </a>
    </div>
    <div class="d-none d-lg-block">
      <p class="txt-nav-p mb-0">ระบบบริการทางวิชาการและให้คำปรึกษา</p>
      <small class="txt-nav-small"
        >เกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคล</small
      >
    </div>
    <div class="d-lg-flex d-none gap-4 align-items-center">
      <div class="text-nav-profile text-end">
        <small>ยินดีตอนรับ!</small>
        <a href="/admin/profile.html">
          <p class="mb-0">นายทองดี มีสุข</p>
        </a>
      </div>
      <a href="/admin/profile.html">
        <img src="../asset/image/icon-profile.svg" />
      </a>
      <a href="/login.html">
        <img src="../asset/image/icon-logout.svg" />
      </a>
    </div>
  </nav>
</header>