<nav class="sb-nav-fixed sb-sidenav">
    <a href="/index.html" class="navbar-brand mx-auto my-2 mx-3">
        <img class="img-logo-nav" src="../asset/image/image-logo.png" />
    </a>
<div class="sb-sidenav-menu mt-4">
    <div class="nav-list">
    <a class="text-dark cursor-pointer" href="/admin/follow-up.html">
        <img src="../asset/image/icon-follow.svg" class="me-2" />
        ติดตามการร้องเรียน
    </a>
    </div>
    <div class="nav-list">
    <a href="/" class="text-dark cursor-pointer">
        <img src="../asset/image/icon-history.svg" class="me-2" />
        ประวัติหารือ
    </a>
    </div>
</div>
</nav>