<div class="card-admin max-w mb-4">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-lg-5 mb-4">
          <img src="../asset/image/icon-doc-check.svg" class="me-3">ตรวจสอบรายละเอียด
        </h5>
      </div>
      <div class="d-lg-flex d-block">
        <div class="text--left">ผู้มาหารือ:</div>
        <div class="text--rigth">หน่วยงานรัฐ</div>
      </div>
      <div class="d-lg-flex d-block">
        <div class="text--left">เลขที่หนังสือ:</div>
        <div class="text--rigth">มท 0808.3/ว 1234</div>
      </div>
      <div class="d-lg-flex d-block">
        <div class="text--left">หน่วยงานที่ขอ:</div>
        <div class="text--rigth">กรมการประมง</div>
      </div>
      <div class="d-lg-flex d-block">
        <div class="text--left">หัวข้อการหารือ:</div>
        <div class="text--rigth">
          ขอหารือการจัดเก็บภาษีที่ดินและสิ่งปลูกสร้าง
        </div>
      </div>
      <div class="d-lg-flex d-block">
        <div class="text--left">รายละเอียดการหารือ:</div>
        <div class="text--rigth">
          <ul>
            <li>แนวทางการจัดเก็บภาษีที่ดินและสิ่งปลูกสร้าง</li>
            <li>
              นายวิชิตอธิบายถึงนโยบายใหม่ของรัฐบาลในการจัดเก็บภาษีที่ดินและสิ่งปลูกสร้าง
            </li>
            <li>
              นางสาวสุนทรีได้แสดงความเห็นว่ากฎเกณฑ์และอัตราภาษีควรมีความยืดหยุ่นตามประเภทของที่ดินและการใช้ประโยชน์
              เพื่อไม่ให้เป็นภาระเกินไปต่อผู้ประกอบการและประชาชนทั่วไป
            </li>
            <li>ผลกระทบต่อผู้ประกอบการอสังหาริมทรัพย์</li>
            <li>
              นายเกียรติศักดิ์ให้ข้อมูลว่าการจัดเก็บภาษีในอัตราที่สูงอาจส่งผลกระทบต่อธุรกิจอสังหาริมทรัพย์
              โดยเฉพาะผู้ประกอบการที่มีที่ดินจำนวนมากซึ่งยังไม่ได้พัฒนา
            </li>
            <li>
              เสนอให้พิจารณาการให้สิทธิพิเศษหรือการลดหย่อนภาษีสำหรับที่ดินที่อยู่ในขั้นตอนการพัฒนาเพื่อไม่ให้ธุรกิจชะลอตัว
            </li>
          </ul>
        </div>
      </div>
      <div class="d-lg-flex d-block">
        <div class="text--left mb-3">เอกสารที่เกี่ยวข้อง:</div>
        <div class="text--rigth">
          <div class="p-2 bg-grey radius-14 mb-3">
            <div class="d-flex">
              <img class="" src="../asset/image/icon-pdf.svg">
              <div class="ms-3">
                <p class="mb-1">
                  ขอหารือการจัดเก็บภาษีที่ดินและสิ่งปลูกสร้าง.pdf
                </p>
                <small>1.25MB</small>
              </div>
            </div>
          </div>
          <div class="p-2 bg-grey radius-14 mb-3">
            <div class="d-flex">
              <img class="" src="../asset/image/icon-xlsx.svg">
              <div class="ms-3">
                <p class="mb-1">
                  ขอหารือการจัดเก็บภาษีที่ดินและสิ่งปลูกสร้าง.pdf
                </p>
                <small>1.25MB</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>